<div class="container-custom contact">
    <div class="text-center animate__animated animate__fadeIn">
        <h1>Contacto</h1>
    </div>
    <div class="row mt-5">
        <div class="col-md-8 mx-auto animate__animated animate__fadeIn">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Email">
                </div>
                <div class="form-group mt-4">
                    <textarea rows="3" class="form-control"></textarea>
                </div>
                <button class="btn-secondary-custom-outline mt-4">
                    Contactar
                </button>
        </div>
    </div>
</div>